/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 Layout startMenu
2.0 Layout gameBoard
    2.1 playerSelection
    2.2 winner
3.0 Layout statistic
4.0 Others
*/



/*--------------------------------------------------------------
1.0 Layout startMenu
--------------------------------------------------------------*/

#menuBackground {
    -fx-background-image: url("backgroundMenu.png");
    -fx-background-repeat : no-repeat;
}

#menuComponents {
    -fx-spacing: 5px;
    -fx-padding: -120 0 0 550;
}

#title {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 60px;
    -fx-padding: 35 0 0 0;
    -fx-text-alignment: center;
}



/*--------------------------------------------------------------
2.0 Layout gameBoard
--------------------------------------------------------------*/

#background {
    -fx-background-image: url("background.png");
    -fx-background-repeat : no-repeat;
    -fx-padding: -2;
}

.seedImg, #seedResultPlayerB, #seedResultPlayerA {
    -fx-alignment: center;
    -fx-orientation: horizontal;
}

#seedResultPlayerB, #seedResultPlayerA {
     -fx-hgap: -10;
     -fx-vgap: -10;
}

.seedImg:disabled {
    -fx-opacity: 0.5;
}

.field {
    -fx-padding: 20 0 25 0;

}

.circle {
    -fx-fill: #d1a10d;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
    -fx-stroke: null;
}

.count {
       -fx-text-fill: #6f471c;
       -fx-font-weight: bold;
       -fx-font-size: 16px;
       -fx-padding: -5 2 -3 2;
       -fx-text-alignment: center;
}

.playerA, .playerB {
    -fx-background-color: transparent;
}

.player {
    -fx-font-size: 25px;
    -fx-padding: 10 10 10 10;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

#lPlayerA {
    -fx-padding: 10 10 0 10;
}

#gameBoard {
    -fx-spacing: 22;
    -fx-padding: -10 0 -15 0;
}

#playersFields {
    -fx-spacing: 13;
    -fx-padding: 30 0 0 0;
}

#playerA, #playerB {
    -fx-spacing: 74;
}

#playerALeft, #playerARight, #playerBLeft, #playerBRight {
    -fx-spacing: 22;
}

#resultFieldLeft, #resultFieldRight {
    -fx-padding: 30 0 0 0;
}

#playerAResult, #playerBResult {
    -fx-text-fill: #6f471c;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: -3 2 -4 2;
    -fx-text-alignment: center;
}

#bottom {
    -fx-spacing: -25;
}



/*--------------------------------------------------------------
2.1 Layout playerSelection
--------------------------------------------------------------*/

#enterName {
    -fx-background-color: #d1a10d;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-spacing: 20;
}

#player1HBox, #player2HBox {
    -fx-spacing: 20;
}

.labelName {
    -fx-text-fill: black;
    -fx-font-size: 18;
}

.comboBox .list-cell {
   -fx-text-fill: -fx-text-base-color;
   -fx-font-size: 18;
}



/*--------------------------------------------------------------
2.2 Layout winner
--------------------------------------------------------------*/

#winner {
    -fx-background-color: #d1a10d;
    -fx-text-fill: #825121;
    -fx-padding: 50 200 50 200;
    -fx-font-size: 30px;
    -fx-font-weight: bold;
}



/*--------------------------------------------------------------
3.0 Layout statistics
--------------------------------------------------------------*/

#backgroundStatistics {
    -fx-background-image: url("backgroundStatistics.png");
    -fx-background-repeat : no-repeat;
}

#hBoxStatistics {
    -fx-spacing: 30;
    -fx-padding: 0 0 -60 -45;
}

#vBoxStatistics  {
    -fx-spacing: 50;
    -fx-padding: -90 0 0 100;
}

#buttonsStatistics {
    -fx-spacing: 20px;
}

#titleStatistics {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 60px;
    -fx-text-alignment: center;
}

#tableHighscore {
        -fx-base: black;
        -fx-control-inner-background: transparent;
        -fx-background-color: transparent;
        -fx-table-cell-border-color: transparent;
        -fx-table-header-border-color: transparent;
        -fx-padding: 5;
}

#tableHighscore .column-header-background {
    -fx-background-color: transparent;
}

#tableHighscore .column-header, .table-view .filler {
    -fx-size: 18;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 0%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

#tableHighscore .column-header .label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

#tableHighscore:focused .table-row-cell:filled:focused {
    -fx-background-color: transparent;
}

#tableHighscore:focused .table-row-cell:filled:focused:selected {
      -fx-background: -fx-control-inner-background;
      -fx-background-color: -fx-table-cell-border-color, -fx-background ;
      -fx-background-insets: 0, 0 0 0 0 ;
      -fx-table-cell-border-color: derive(transparent, 100%);
}

#tableHighscore .scroll-bar:vertical {
    -fx-background-color: transparent;
}

#tableHighscore *.scroll-bar:horizontal *.increment-button,
#tableHighscore *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#tableHighscore *.scroll-bar:horizontal *.increment-arrow,
#tableHighscore *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

#tableHighscore:disabled {
    -fx-opacity: 1;
}

#columnRank, #columnName, #columnScore {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}



/*--------------------------------------------------------------
4.0 Others
--------------------------------------------------------------*/

.buttons {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #825121;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.buttons:hover {
    -fx-background-color: #bababa;
}

#buttonBottom, #buttonChoice {
    -fx-spacing: 10;
}